{% extends "menu.html" %}

{% block titulo %}
Buscar Camión
{% endblock  %}

{% block contenido  %}
<form class="contenedor" action="/buscarCamiones/" method="post">
     {% csrf_token %}
    <div class="">
      ID Camion: <input type="readonly" name="idCamion">
    </div>
    <div class="">
      ID Trabajador <input type="readonly" name="idTrabajador">
    </div>
    <div class="">
      Modelo: <input type="readonly" name="modelo">
    </div>
    <div class="">
      Marca: <input type="readonly" name="marca">
    </div>
    <div class="">
      Anio: <input type="readonly" name="anio">
    </div>


    <button type="submit" class="boton-ok" >Modificar</button>
</form>



{% endblock  %}
