{% extends "menu.html" %}

{% block contenido %}
    {% if msg%}
    <br>
    <label class="texto-ok">{{msg}}</label>
    {% endif %}
    <table class="contenedor">
      <thead>
        <tr>
          <th>ID del Trabajadores</th>
          <th>Modelo</th>
          <th>Marca</th>
          <th>Año</th>

        </tr>
      </thead>
      <tbody>
        {% for reg in registroCamiones %}
        <tr>
          <td>{{reg.idTrabajador.idTrabajador}}</td>
          <td>{{reg.modelo}}</td>
          <td>{{reg.marca}}</td>
          <td>{{reg.anio}}</td>

          <td><form action="modificarCamiones/" method="post">
            {% csrf_token %}
            <input type="hidden" name="idCamion" value="{{reg.idCamion}}">
            <button class="boton-ok" type="submit">Modificar</button>
          </form>
          <td>
          <a href="feliminarCamion/?idCamion={{reg.idCamion}}" class="boton-no">Eliminar</a>
          </td>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}
