{% extends "menu.html" %}

{% block titulo %}
  Consultar Horarios
{% endblock %}

{% block contenido %}
<table class="contenedor">
  <p>CONSULTAR HORARIOS</p>
  <thead>
    <tr>
      <th>ID Horario</th>
      <th>Id Negocios</th>
      <th>Lunes</th>
      <th>Hora Lunes</th>
      <th>Martes</th>
      <th>Hora Martes</th>
      <th>Miercoles</th>
      <th>Hora Miercoles</th>
      <th>Jueves</th>
      <th>Hora Jueves</th>
      <th>Viernes</th>
      <th>Hora Viernes</th>
      <th>Sabado</th>
      <th>Hora Sabado</th>
    </tr>
  </thead>
  <tbody>
    {% for reg in horarios %}
      <tr style="padding:10px !import">
        <td>{{reg.idHorario}}</td>
        {% for ne in negocios %}
        {% if reg.idNegocio_id == ne.idNegocio %}
        <td>{{ne.idNegocio}}</td>
        {% endif %}
        {% endfor %}
        <td>{{reg.lunes}}</td>
        <td>{{reg.horaLunes}}</td>
        <td>{{reg.martes}}</td>
        <td>{{reg.horaMartes}}</td>
        <td>{{reg.miercoles}}</td>
        <td>{{reg.horaMiercoles}}</td>
        <td>{{reg.jueves}}</td>
        <td>{{reg.horaJueves}}</td>
        <td>{{reg.viernes}}</td>
        <td>{{reg.horaViernes}}</td>
        <td>{{reg.sabado}}</td>
        <td>{{reg.horaSabado}}</td>
        <td>
          <form action="modificarHorarios/"  method='post'>
            {% csrf_token %}
            <input type="hidden" name="idHorario" value="{{reg.idHorario}}">
          <button type="submit" class="botonCorecto">Modificar</button>
        </form>
      </td>
      <td>
          <form action="horariosEliminar/"  method='post'>
            {% csrf_token %}
            <input type="hidden" name="idHorario" value="{{reg.idHorario}}">
          <button type="submit" class="boton-no">Eliminar</button>
          {#Esta es una manera mas rapida #}
          {# <a href="eliminar/?id={{reg.idPersona}}" class="boton-no">Eliminar</a>#}
        </form>
      </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
