{% extends "menu.html" %}

{% block titulo %}
   Eliminar Clientes
{% endblock  %}

{% block contenido %}
<form class="contenedor" action="eliminarCli/" method="post">
    {% csrf_token %}

    <p>Confirmacion de eliminacion de Clientes</p>
    {% for Cli in clientes %}
  <p>  Nombre del cliente:</p>        {{Cli.nombre}}
    {% endfor %}
    <br><br>
  <p> ID:</p>  <input type="text" name="idCliente" value="{{idCliente}}" readonlyC class="caja">
    <button type="submit" class="boton-no">Confirmar Eliminacion</button>
</form>
{% endblock  %}
