{% extends "menu.html" %}
{% block titulo %}
  Eliminacion de persona
{% endblock %}

{% block contenido %}
<p>CONFIRMACION DE ELIMINAR NEGOCIOS</p>
<form class="contenedor" action="/eliminarNegocios/" method="post">
  {% csrf_token %}
  {% for Neg in negocios %}
    Nombre del negocio:   {{Neg.nombre}}
  {% endfor %}
  <br><br>
  ID: <input type="text" name="idNegocio" value="{{idNegocio}}" readonly>
  <button type="submit" class="boton-no">Confirmar eliminacion</button>

</form>

{% endblock %}
