{% extends "menu.html" %}

{% block titulo %}
  Nuevo Trabajador

{% endblock %}

{% block contenido %}
{% if msg%}
<br>
<label class="texto-ok">{{msg}}</label>
{% endif %}
<form action="/insertarTrabajador/" method="post" class="contenedor">
{% csrf_token %}
<div>
  <p>  Nombre:</p>
  <input type="text" name="Nombre" class="caja">
</div>
<div>
  <p>  Apellido Paterno:</p>
  <input type="text" name="Apellido_p" class="caja">
</div>
<div>
  <p>  Apellido Materno:</p>
  <input type="text" name="Apellido_m" class="caja">
</div>
<div>
<p>  Tipo:</p>


<p>  <select name="Tipo" class="caja"></p>
    <option value="Chofer">Chofer</option>
    <option value="Secretaria">Secretaria</option>


</select>
</div>
<div>
  <p>Edad:</p>
  <input type="text" name="Edad" class="caja">
</div>
<div>
<p>  Telefono:</p>
  <input type="text" name="Telefono" class="caja">
</div>
<div>
<p>Licencia:</p>
  <input type="text" name="Licencia" class="caja">
</div>

<button type="submit" class="boton">Registrar</button>

</form>



{% endblock %}
