{% extends "menu.html" %}

{% block titulo %}
   Nuevo Proveedor
{% endblock %}


{% block contenido %}
{% if msg%}
<br>
<label class="texto-ok">{{msg}}</label>
{% endif %}

<form action="/guardarProveedores/" method="post" class="contenedor">
{% csrf_token %}

  <div>
    {#ID #}

    <p>  ID:</p>

    <input type="number" name="idProveedor" class="caja" autofocus>
  </div>
  <div>
  <p>Nombre:</p>
    <input type="text" name="nombreProveedor" class="caja">
  </div>
  <div>
<p>Apellido Paterno:</p>
    <input type="text" name="apellidoP" class="caja">
  </div>
  <div>
<p>  Apellido Materno:</p>


    <input type="text" name="apellidoM" class="caja">
  </div>
  <div>
    <p>Edad:</p>


    <input type="number" name="edad" class="caja">
  </div>

  <div>
    <p>Telefono:</p>


    <input type="tel" name="telefono" class="caja">
  </div>
  <div>
<p>Domicilio:
</p>

    <input type="text" name="domicilio" class="caja">
  </div>
  <br>
  <button type="submit" class="boton">Registrar</button>

</form>


{% endblock %}
