{% extends "menu.html" %}

{% block titulo %}
  Nuevo Camion
{% endblock  %}

{% block contenido  %}
<form class="contenedorRV" action="/guardarCamion/" method="post">
  <p class="titulos">REGISTRAR  CAMIONES</p>
     {% csrf_token %}
    <div class="cajaRV">
      ID Camion: <input type="text" name="idCamion" class="inputRV">
    </div>
    <div class="cajaRV">
      ID Trabajador

      <select class="inputRV">
        {% for reg in trabajadores %}
        print "<option value=\"".reg.idTrabajador."\">".reg.idTrabajador."</option>"
        {% endfor %}
      </select>

    </div>
    <div class="cajaRV">
      Modelo: <input type="text" name="modelo" class="inputRV">
    </div>
    <div class="cajaRV">
      Marca: <input type="text" name="marca" class="inputRV">
    </div>
    <div class="cajaRV">
      Año: <input type="text" name="anio" class="inputRV">
    </div>


    <button type="submit" class="botonRV" >Insertar</button>
</form>



{% endblock  %}
