{% extends "menu.html" %}

{% block  titulo%}
  Insertar Horario
{% endblock %}



{% block contenido %}
{% load static from staticfiles %}
<script type="text/javascript" src="{% static 'JS/horarios.js' %}"></script>
<form class="contenedor" action="insertarHorario/" method="get">
  {% csrf_token %}

  <div class="CajaLogin">
    <br>
    ID Horario: <input id="horarioid" type="number" name="idHorario" class="caja" value="1">
  </div>

  <div class="CajaLogin">
  <br>
    Id Negocio:
    <input id="negocioid" type="text" name="idNegocio" class="caja" value="1">
    <select>
      {% for reg in negocios %}
      <option value={{reg.idNegocio}}>{{reg.idNegocio}}</option>"
      {% endfor %}
    </select>
  </div>

  <div class="CajaLogin  ">
    <br>
    Lunes:  <input id="lunes" type="checkbox" name="lunes" checked="True" onclick="validarHora();">
  </div>
  <div class="CajaLogin">
  <input id="idhoralunes" value="12:00" class="caja" type="TimeField" name="horaLunes" placeholder="HH:MM">
  </div>

  <div class="CajaLogin">
    <br>
    Martes: <input id="martes" type="checkbox" name="martes" onclick="validarHora();">
  </div>
  <div class="CajaLogin">
  <input id="idhoramartes" value="12:00" class="caja" style="display:none" type="TimeField" name="horaMartes" placeholder="HH:MM">
  </div>

  <div class="CajaLogin">
    <br>
    Miercoles: <input id="miercoles" type="checkbox" name="miercoles" onclick="validarHora();">
  </div>
  <div class="CajaLogin">
  <input id="idhoramiercoles" value="12:00" class="caja" style="display:none" type="TimeField" name="horaMiercoles" placeholder="HH:MM">
  </div>

  <div class="CajaLogin">
    <br>
    Jueves: <input id="jueves" type="checkbox" name="jueves" onclick="validarHora();">
  </div>
  <div class="CajaLogin">
  <input id="idhorajueves" value="12:00" class="caja" style="display:none" type="TimeField" name="horaJueves" placeholder="HH:MM">
  </div>

  <div class="CajaLogin">
    <br>
    Viernes: <input id="viernes" type="checkbox" name="viernes" onclick="validarHora();">
  </div>
  <div class="CajaLogin">
  <input id="idhoraviernes" value="12:00" class="caja" style="display:none" type="TimeField" name="horaViernes" placeholder="HH:MM">
  </div>

  <div class="CajaLogin">
    <br>
    Sabado: <input id="sabado" type="checkbox" name="sabado" onclick="validarHora();">
  </div>
  <div class="CajaLogin">
  <input id="idhorasabado" value="12:00" class="caja" style="display:none" type="TimeField" name="horaSabado" placeholder="HH:MM">
  </div>
  <br>
  <button type="submit" class="boton" onclick="CamposVaciosHorarios();">Guardar</button>
  {% if  msg%}
  <label class="texto-ok">{{msg}}</label>
  {% endif %}
</form>
{% endblock %}
