{% extends "menu.html" %}

{% block titulo %}
  Insertar Negocio
{% endblock %}
<h1>Agregar Negocio</h1>
{% block contenido %}

<h1>Agregar Negocio</h1>
<form action="/insertarNegocios/" class="contenedor" method="post">
  {% csrf_token %}
  <div>
    Id Proveedor: <input type="text" name="idProveedor" class="caja">
  </div>
  <div>
    Nombre del Negocio: <input type="text" name="nombreNegocio" class="caja">
  </div>
  <div>
    Domicilio: <input type="text" name="domicilio" class="caja">
  </div>
  <div>
    Telefono: <input type="tel" name="tel" class="caja">
  </div>
  <button type="submit" class="boton-ok">Agregar</button><br>
  {% if msg%}
  <label class="texto-ok">{{msg}}</label>
  {% endif %}
</form>



{% endblock %}
