{% extends "menu.html" %}

{% block titulo %}
  Nuevo Cliente
{% endblock  %}

{% block contenido  %}
<form class="contenedor" action="/guardarClientes/" method="post">
  <p>REGISTRAR CLIENTES</ps>
     {% csrf_token %}
    {# <div class="menus"> #}
      <p>ID Cliente:</p> <input type="number" name="idCliente"class="caja">
    {# </div> #}
    {# <div class="menus"> #}
    <p>ID Material</p>   <input type="number" name="idMaterial" class="caja">
    {# </div> #}
    {# <div class="menus"> #}
    <p> Nombre:</p>  <input type="text" name="nombre" class="caja">
    {# </div> #}
    {# <div class="menus"> #}
    <p>Apellido Paterno:</p>   <input type="text" name="apellidoP"class="caja">
    {# </div> #}
    {# <div class="menus"> #}
  <p>Apellido Materno:</p>     <input type="text" name="apellidoM" class="caja">
    {# </div> #}
    {# <div class="menus"> #}
    <p> Domicilio:</p>    <input type="text" name="domicilio" class="caja">
    {# </div> #}
  {# <div class="menus"> #}
        <p>Telefono:</p> <input type="text" name="telefono" class="caja">
    {# </div> #}

    <button type="submit" class="boton" >Guardar</button>
</form>



{% endblock  %}
