{% extends "menu.html" %}

{% block titulo %}
  Nuevo Cliente
{% endblock  %}

{% block contenido  %}
<form class="contenedor" action="/guardarClientes/" method="post">
     {% csrf_token %}
    <div class="menus">
      ID Cliente: <input type="number" name="idCliente">
    </div>
    <div class="menus">
      ID Material <input type="number" name="idMaterial">
    </div>
    <div class="menus">
      Nombre: <input type="text" name="nombre">
    </div>
    <div class="menus">
      Apellido Paterno: <input type="text" name="apellidoP">
    </div>
    <div class="menus">
      Apellido Materno: <input type="text" name="apellidoM">
    </div>
    <div class="menus">
        Domicilio: <input type="text" name="domicilio">
    </div>
    <div class="menus">
        Telefono: <input type="text" name="telefono">
    </div>

    <button type="submit" class="boton-ok" >Guardar</button>
</form>



{% endblock  %}
