{% extends "menu.html" %}

{% block titulo %}
   Nuevo Material
{% endblock %}


{% block contenido %}
{% if msg%}
<br>
<label class="texto-ok">{{msg}}</label>
{% endif %}

<form action="/insertarMateriales/" method="post" class="contenedor">
{% csrf_token %}
  <div>
  <p>Tipo deMaterial:</p>
    <input type="text" name="tipoMaterial" class="caja" autofocus>
  </div>
  <div>
<p>Descripcion:</p>
    <input type="text" name="descripcionMaterial" class="caja">
  </div>
  <br>
  <button type="submit" class="boton">Registrar</button>
  <a href="/consultarMateriales/">Consultar</a>

</form>


{% endblock %}
