{% extends "menu.html" %}

{% block titulo %}
  Insertar Negocio
{% endblock %}

{% block contenido %}

<form action="/insertarNegocios/" class="contenedor" method="post"class="caja">
  {% csrf_token %}
  <p>REGISTRAR  NEGOCIOS</p>
  <div>
   <p>Id Proveedor:</p>   <input type="text" name="idProveedor" class="caja"class="caja">
  </div>
  <div>
<p> Nombre del Negocio:</p>    <input type="text" name="nombreNegocio" class="caja"class="caja">
  </div>
  <div>
<p> Domicilio:</p>    <input type="text" name="domicilio" class="caja"class="caja">
  </div>
  <div>
<p>Telefono:</p>     <input type="tel" name="tel" class="caja"class="caja">
  </div>
  <button type="submit" class="boton">Agregar</button><br>
  {% if msg%}
  <label class="texto-ok">{{msg}}</label>
  {% endif %}
</form>



{% endblock %}
