{% extends "menu.html" %}

{% block  titulo%}
  Nuevo Horario
{% endblock %}
{% block contenido %}




<form class="contenido" action="insertarHorario" method="post" >
{% csrf_token %}


<div class="Hora">
  ID Horario: <input type="text" name="id">
</div>

<div class="Horas">
  <label>Id Negocio</label> <select class="" name=""></select>
</div>

<div class="Hora">
  Lunes: <input type="checkbox" name="lunes">
</div>

<div class="Horas">
  Martes: <input type="checkbox" name="martes">
</div>

<div class="Hora">
  Miercoles: <input type="checkbox" name="miercoles">
</div>

<div class="Horas">
  Jueves: <input type="checkbox" name="jueves">
</div>

<div class="Hora">
  Viernes: <input type="checkbox" name="viernes">
</div>

<div class="Horas">
  Sabado: <input type="checkbox" name="sabado">
</div>

<button type="submit" class="boton-ok">Guardar</button>
</form>
{% endblock %}
