{% extends "menu.html" %}

{% block  titulo%}
  Insertar Horario
{% endblock %}
{% block contenido %}
<form class="contenedor" action="guardarHorarios/" method="get">
  {% csrf_token %}

  <div class="CajaLogin">
    <br>
  <p> ID Horario:</p>  <input type="text" class="caja"name="idHorario" class="caja" value="{{reg.idHorario}}"  readonly>
  </div>

  <div class="CajaLogin">
  <br>
    Id Negocio: <input type="text" class="caja"name="idNegocio" value="{{reg.idNegocio_id}}">
  </div>

  <div class="CajaLogin  ">
    <br>
  <p>Lunes:</p>    <input type="checkbox" class="caja"name="lunes" checked="{{reg.lunes}}">
  </div>
  <div class="CajaLogin">
  <input type="TimeField" name="horaLunes"class="caja" placeholder="HH:MM" value={{reg.horaLunes}}>
  </div>

  <div class="CajaLogin">
    <br>
  <p> Martes: </p> <input type="checkbox" class="caja"name="martes" checked="{{reg.martes}}">
  </div>
  <div class="CajaLogin">
  <input type="TimeField" name="horaMartes" class="caja"placeholder="HH:MM" value="{{reg.horaMartes}}">
  </div>

  <div class="CajaLogin">
    <br>
<p> Miercoles:</p>    <input type="checkbox"class="caja" name="miercoles" checked="{{reg.miercoles}}">
  </div>
  <div class="CajaLogin">
  <input type="TimeField" name="horaMiercoles"class="caja" placeholder="HH:MM" value="{{reg.horaMiercoles}}">
  </div>

  <div class="CajaLogin">
    <br>
<p> Jueves:</p>    <input type="checkbox" name="jueves"class="caja" checked="{{reg.jueves}}">
  </div>
  <div class="CajaLogin">
  <input type="TimeField" name="horaJueves"class="caja" placeholder="HH:MM" value="{{reg.horaJueves}}">
  </div>

  <div class="CajaLogin">
    <br>
  <p> Viernes:</p>  <input type="checkbox" name="viernes"class="caja" checked="{{reg.viernes}}">
  </div>
  <div class="CajaLogin">
  <input type="TimeField" name="horaViernes" placeholder="HH:MM" value="{{reg.horaViernes}}">
  </div>

  <div class="CajaLogin">
    <br>
<p> Sabado:</p>    <input type="checkbox" name="sabado" class="caja"checked="{{reg.sabado}}">
  </div>
  <div class="CajaLogin">
  <input type="TimeField" name="horaSabado"class="caja" placeholder="HH:MM" value="{{reg.horaSabado}}">
  </div>
  <br>
  <button type="submit" class="boton">Modificar Horario</button>
</form>
{% endblock %}
