{% extends "menu.html" %}
{% block titulo %}
  Modificar MATERIAL
{% endblock %}
{% block contenido %}
<form action="/guardarMaterial/" class="contenedor"  method="post">
  <p>MODIFICAR MATERIAL</p>
  {% csrf_token %}
  {# <div> #}
  <p>ID MATERIAL:</p>   <input type="text" name="idMaterial" class="caja" value="{{regNe.idMaterial}}" readonly class="caja">
  {# </div> #}

  {# <div> #}
  <p>Tipo de Material </p>  <input type="text" name="tipoMaterial" class="caja" value="{{regNe.tipoMaterial}}" class="caja">
  {# </div> #}
  {# <div> #}
  <p> Descripcion del Material:</p>
    <input type="text" name="descripcionMaterial" class="caja" value="{{regNe.descripcionMaterial}}" class="caja">
  {# </div> #}
  <button type="submit" class="boton-ok">Guardar</button>
</form>

{% endblock %}
