{% extends "menu.html" %}

{% block titulo %}
   Nuevo Proveedor
{% endblock %}


{% block contenido %}
{% if msg%}
<br>
<label class="texto-ok">{{msg}}</label>
{% endif %}
<form action="/guardarCambiosProveedores/" method="post" class="contenedor">
  <p>MODIFICAR Proveedores</p>
{% csrf_token %}
  <br>
  <p> ID:</p>
    <br>
    <input type="text" name="idProveedores" class="caja" value="{{reg.idProveedores}}" readonly>
    <br>
  <p> Nombre:</p>
    <br>
    <input type="text" name="nombreProveedor" class="caja" value="{{reg.nombre}}">
    <br>
  <p> Apellido Paterno:</p>
    <br>
    <input type="text" name="apellidoP" class="caja" value="{{reg.apellidoP}}">
    <br>
  <p>Apellido Materno:</p>
    <br>
    <input type="text" name="apellidoM" class="caja" value="{{reg.apellidoM}}">
    <br>
  <p>  Edad:</p>
    <br>
    <input type="number" name="edad" class="caja" value="{{reg.edad}}">
  <div>
    <br>
  <p> Telefono:</p>
    <br>
    <input type="tel" name="telefono" class="caja" value="{{reg.telefono}}">
    <br>
  <p> Domicilio:</p>
    <br>
    <input type="text" name="domicilio" class="caja" value="{{reg.domicilio}}">
  <button type="submit" class="boton-ok">Modificar</button>
</form>
{% endblock %}
