{% extends "menu.html" %}
{% block titulo %}
  Modificar Negocio
{% endblock %}
{% block contenido %}
<form action="/guardarNegocios/" class="contenedor"  method="post">
  <p>MODIFICAR NEGOCIOS</p>
  {% csrf_token %}
  <div>
  <p>ID Negocio:</p>   <input type="text" name="idNegocio" class="caja" value="{{regNe.idNegocio}}" readonly class="caja">
  </div>
  <div>
  <p>ID Proveedor: </p>  <input type="text" name="idProveedor" class="caja" value="{{regNe.idProveedores_id}}" class="caja">
  </div>
  <div>
<p>Nombre del negocio:</p>     <input type="text" name="nombre" class="caja" value="{{regNe.nombre}}" class="caja">
  </div>
  <div>
  <p> Domicilio:</p>  <input type="text" name="domicilio" class="caja" value={{regNe.domicilio}} class="caja">
  </div>
  <div>
  <p>Telefono:</p>   <input type="tel" name="telefono" class="caja" value={{regNe.telefono}} class="caja">
  </div>
  <button type="submit" class="boton-ok">Guardar</button>

</form>

{% endblock %}
